body {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: #79bcff;
    color: #fff;
}

button {
    color: #000;
    font-size: 14px;
    border-radius: 5px;
    border: 1px white solid;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
    box-shadow: none;
}

h1 {
    font-weight: bold;
    text-align: center;
}

a:link{
    font-size: 15px;
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: red;
}

a:active{
    color: red;
}

ul {
    list-style-type: none;
    line-height: 1.8;
}

li{
    margin: 5px;
}
